.App {
  text-align: center;
  font-family: 'Tech Zone Demo';
  background: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pic {
  border-radius: 50%;
}

li {
  list-style: none;
  text-decoration: none
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #00808095;
  padding: 2rem;
  margin: 0;
}

h1 {
  color:#ce517a;
}

h2 {
  color:#ce517a;
}

h3 {
  color:#ce517a;
  font-weight: bolder;
}

.title {
  text-decoration: none;
  /* color: rgb(212, 212, 211); */
  color:whitesmoke;
}

.title:hover {
  color: black;
}

.home-page {
  align-items: center;
  padding-bottom: 13rem;
}


.project-page {
  text-align: left;
  margin: 5%;
} 

h5 {
  color: #ce517a;
}

section {
  margin-right:auto;
  width: 700px;
  color: teal;
}  

a {
  color: teal;
}

a:hover {
  color: black;
}

.icons {
  color: #ce517a95;
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 2rem;

}

span {
  color:  #ce517a;
}

.icon:hover {
  color: #00808095;
}

.contact-page {
  padding-bottom: 25rem;
}

.contact-msg {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-style: normal;
  color: black;
  background-color: #ce517a95;
}


.icon2 {
  color: #ce517a;
}

.icon2:hover {
  color: teal;
}

.projects-page {
  padding-bottom: 15rem;
}

.projects-list-item {
  padding: 1rem;
  background-color:#ce517a95;
  margin-right: 2.5rem;
  margin-left: 0;
}


.page-title {
  align-items: center;
  color: #ce517a;
}

.type {
  color: teal
}

.type2 {
  color: black;
}

.project-pic {
  width: 1300px;
  height: 800px;
}