html {
  scroll-behavior: smooth;
}

.App {
  font-family: 'Quattrocento';
  font-size: x-large;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAV BARR */

.logo {
  max-height: auto;
  max-width: auto;
  height: 120px;
  width: 150px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-left: 3rem;
  margin-right: 3rem; */
  margin-top: 1rem;
  background: white;
  padding-bottom: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-link {
  text-decoration: none;
  color: #414b3b;
}

.nav-link:hover {
  color: #FFBD66;
}

li {
  list-style: none;
  text-decoration: none;
}


/* HOME PAGE */

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #FFBD66;
}

.pic {
  border-radius: 50%;
  size: 50px;
  flex: 0 0 50px;
}

.name-title {
  flex-wrap: wrap;
  color: #414b3b;
}

.name-title-detail {
  line-height: 2rem;
  padding-left: 4rem;
}

.name {
  font-size: 30;
}

h1 {
  color: #414b3b;
  font-weight: bold;
}

h2 {
  color: #414b3b;
  font-weight: lighter;
}

.welcome-msg {
  background-color: white;
  font-family: 'SignPainter';
  padding-left: 5rem;
  padding: 1rem;
  align-items: center;
}

.welcome {
  /* margin-right: 3rem; */
  margin-top: 4rem;

}

.vertical-line{
  width: 2px; /* Line width */
  background-color: #414b3b; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}



/* FOOTER */

.footer {
  color: #414b3b;
  align-content: center;
  background: white;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  background: white;
  font-size: small;
}


/* PROJECTS PAGE */

/* .project-page {
  text-align: left;
  margin: 5%;
} */

.page-title {
  place-items: center;
  color: #414b3b;
  /* margin-left: 38rem; */
  display: flex;
  justify-content: center;
}

.project {
  background: #FFBD66;
  padding: 3rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project-details {
  width: 40%;
  height: 10%;
  margin-right: 2rem;

}

.project-pic {
  width: 550px;
  height: 50%;
  /* padding-top: 4rem; */
  background-color: white;
  padding: 2rem;
}

h3 {
  font-weight: bolder;
  color: #414b3b;
}

h4 {
  font-weight: bolder;
  color: #414b3b;
}

h5 {
  color: #414b3b;
}

a {
  color: #FF914d;
}

a:hover {
  color: #414b3b;
}

section {
  width: 550;
  color: #414b3b;
} 

.icons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 2rem;
}

.icon {
  color: #414b3b;
}

.icon:hover {
  color: white;
}


/* CONTACT PAGE */

.contact-msg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: normal;
  color: #414b3b;  
  background: #FFBD66;
  display: flex;
  justify-content: center;
}

.icon2 {
  color: #FFBD66;
}

.icon2:hover {
  color: #414b3b;
}

.cv {
  display: flex;
  flex-direction: column;
  font-style: normal;
  color: #414b3b;
  align-items: center;
  padding-top: 2rem;
}
